<% @title = 'About - Schedule Comparinator 2012'; @user_css = 'about' %>
<%= partial :'part/head' %>
<div id="content" class="greybox">
	<h1>About Schedule Comparinator</h1>
	<p>Sched­ule Com­par­i­na­tor 2012 is a web ser­vice to com­pare sched­ules of those at­tend­ing a high school in the Round Rock In­de­pen­dent School Dis­trict. It does so by com­par­ing your sched­ule with other sched­ules that other users have en­tered in.</p>
	<p>By elim­i­nat­ing the need to con­stantly scan Face­book for other peo­ple's sched­ules, Sched­ule Com­par­i­na­tor 2012 stream­lines your on­line work­flow and lets you do what­ever else you usu­ally do to pro­cras­ti­nate sum­mer home­work.</p>
	<h2>Frequently Asked Questions</h2>
	<h3>Do I have to have a Facebook account?</h3>
	<p>Yes. This year, we tightly integrated Schedule Comparinator with Facebook accounts, so <i>you must have a Facebook account</i> to use it. You can create one and delete it afterwards if you want, we don't care. Next year, we provide alternate authentication to include people without Facebook accounts.</p>
	<h3>Are you secretly harvesting my data?</h3>
	<p>No. We store only your name, school, schedule, temporary Facebook access token (for authentication), and Facebook ID (for Facebook avatars) in our database. Nothing is stored that is not necessary to run the website. None of your information is ever shared with anybody else except when people are comparing schedules with yours and searching for the existence of users in the database.</p>
	<h3>What's up with the name, "Schedule Comparinator"?</h3>
	<p>It's an evil contraption a la <i>Phineas and Ferb</i>. Also, it's <b>Comparinator</b>, not Comparisonator.</p>
	<h2>The Team</h2>
	<h3>Yash Aggarwal</h3>
	<p>Yash is an incoming senior in the Westwood IB program and one of the original Schedule Comparinator developers. I love to play basketball and program. SENIORS 13 WOOT WOOT.</p>
	<h3>Justin Lai</h3>
	<p>Justin Lai is a junior at Westwood High School. He likes photography, web design, watching movies, and eating grapes and watermelon.</p>
	<h3>Simon Zeng</h3>
	<p>Simon is an incoming junior in the Westwood IB program. He originally got the idea for Schedule Comparinator one year ago on August 16, 2011 when he noticed that his Facebook newsfeed was filled with people posting their schedules in the hopes of finding people in their classes. He likes to program, play various musical instruments, make self-referential jokes, and talk in third person. He can be contacted via <a href="https://www.facebook.com/quirnius">Facebook</a> or <a href="http://xsznix.tumblr.com/">Tumblr</a>.</p>
	<h3>Other Contributors</h3>
	<p><b>Jessica Hwang</b> kindly typed up the RRISD course catalog for us.</p>
</div>
<%= partial :'part/foot' %>