body {
	position: relative;
	background-attachment: fixed;
	background-repeat: none;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #DBE1FF 0%, #2372B5 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #DBE1FF 0%, #2372B5 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #DBE1FF 0%, #2372B5 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #DBE1FF), color-stop(1, #2372B5));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #DBE1FF 0%, #2372B5 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #DBE1FF 0%, #2372B5 100%);
}

#header {
 	width: 100%;
  background: rgba(70,70,70,0.8);  
	position: fixed;
	min-height: 31px;
	top: 0;
	left: 0;
	padding-top: 30px;
	z-index: 1;
	overflow: hidden;
}

#logo {
	position: relative;
	margin: -20px 15% 0 15%;
	height: 55px;
	z-index: 2;
	overflow-x: hidden;
}

#nav {
	position: relative;
	float: right;
	margin-bottom: 4px;
	right: 15%;
	z-index: 9001;
}
#nav a {
	color: #abcdef;
	text-shadow: none;
	text-decoration: none;
	margin-left: 16px;
	font-family: 'Arvo', sans-serif;
}

.greybox {


background: rgba(230,230,230,0.94); /* Old browsers */

 	padding: 16px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;

-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;

-moz-border-radius-topleft: : 10px;
border-top-left-radius: 10px;

-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;


 	
}

.greybox2 {


background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

 	padding: 16px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;

-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;

-moz-border-radius-topleft: : 10px;
border-top-left-radius: 10px;

-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;


 	
}

h1, h2, h3, h4, h5, h6, p, span, th, td, li, code, pre {
	text-shadow: 0px 1px 1px #fff;
}

h1 {
	font-size: 2em;
	color: #4b8499;
	font-family: 'Arvo', serif;

}
h2 {
	color: #4b8499;
		font-family: 'Arvo', serif;

}

h3, h4, h5, h6, p, span, th, td, li {
	font-family: 'PT Sans', sans-serif;
}
.p2 {
		font-family: 'Arvo', sans-serif;
		color: #6b6b6b;	
	font-size: 1.5em;

}