/*  HOMEPAGE

* +************************************* +************************************* +************************************* +************************************* +*************************************/

#content1, #login_wrapper {
	position: relative;
	margin-top: 6em;
	width: 32%;
}
#content1 {
	float: left;
	left: 15%;
}
#login_wrapper {
	float: right;
	right: 15%;
}